@using SiteX.Common

@{
    this.ViewData["Title"] = "Home Page";
     
}
<div class="feed-shared-survey__main">
      <form>
        <fieldset class="feed-shared-survey__fieldset">
          <legend class="feed-shared-survey__fieldset-legend">
            <span class="feed-shared-survey__fieldset-legend-text">
                The posts in my feed today are a productive use of my time.
            </span>
          </legend>
          <div class="feed-shared-survey__fieldset-inputs">
              <div class="feed-shared-survey__fieldset-inputs-container">
                <input id="feed-shared-survey--0" name="feed-shared-survey--input" type="radio" value="selectDisagree">
                <label class="t-12" for="feed-shared-survey--0">
                    Disagree
                </label>
              </div>
              <div class="feed-shared-survey__fieldset-inputs-container">
                <input id="feed-shared-survey--1" name="feed-shared-survey--input" type="radio" value="selectSomewhatDisagree">
                <label class="t-12" for="feed-shared-survey--1">
                    <span class="visually-hidden">Somewhat disagree</span>
                </label>
              </div>
              <div class="feed-shared-survey__fieldset-inputs-container">
                <input id="feed-shared-survey--2" name="feed-shared-survey--input" type="radio" value="selectNeutral">
                <label class="t-12" for="feed-shared-survey--2">
                    Neutral
                </label>
              </div>
              <div class="feed-shared-survey__fieldset-inputs-container">
                <input id="feed-shared-survey--3" name="feed-shared-survey--input" type="radio" value="selectSomewhatAgree">
                <label class="t-12" for="feed-shared-survey--3">
                    <span class="visually-hidden">Somewhat agree</span>
                </label>
              </div>
              <div class="feed-shared-survey__fieldset-inputs-container">
                <input id="feed-shared-survey--4" name="feed-shared-survey--input" type="radio" value="selectAgree">
                <label class="t-12" for="feed-shared-survey--4">
                    Agree
                </label>
              </div>
          </div>
        </fieldset>
        <button id="ember587" class="artdeco-button artdeco-button--2 artdeco-button--full artdeco-button--secondary ember-view feed-shared-survey__form-button"><!---->
<span class="artdeco-button__text">
    
          Submit
        
</span></button>
      </form>
      <hr class="artdeco-divider feed-shared-survey__divider-footer">
      <footer class="feed-shared-survey__footer">
          Your response won't be shared with your network
      </footer>
  </div>



  <div class="artdeco-card pt5 display-flex flex-wrap">

<!---->          <div data-test-form-section="" class="premium-atlas-survey__form
            mh5">

<!---->        <h4 data-test-form-section-title="">
          <!---->Hristian, how would you like Premium to help?<!---->
        </h4>
        <h5 data-test-form-section-subtitle="" class="mt1 mb5 t-14 t-black">
          <!---->We’ll recommend the right plan for you.<!---->
        </h5>

        <!----><!---->  <div class="fb-dash-form-element-group" data-test-form-element-group="">
      <div class="fb-dash-form-element-group-elements
          fb-dash-form-element-group-elements--horizontal" data-test-form-element-group-elements="">
            <div class="fb-dash-form-element" style="width:100%" data-test-form-element="">
<!---->        

<fieldset id="checkbox-form-component-premiumSurveyQuestion-1" data-test-checkbox-form-component="true">
<!---->
    <span class="visually-hidden" data-test-checkbox-form-required="true">
      Required
    </span>

    <div data-test-text-selectable-option="0" class="fb-text-selectable__option display-flex">
  <input data-test-text-selectable-option__input="To job search with confidence and get hired" id="urn:li:fsd_premiumSurveyQuestion:1-0" class="fb-form-element__checkbox" name="urn:li:fsd_premiumSurveyQuestion:1" type="checkbox">
  <label data-test-text-selectable-option__label="To job search with confidence and get hired" for="urn:li:fsd_premiumSurveyQuestion:1-0" class="t-14">
    <!---->To job search with confidence and get hired<!---->
  </label>
</div>
    <div data-test-text-selectable-option="1" class="fb-text-selectable__option display-flex">
  <input data-test-text-selectable-option__input="To develop my professional skills" id="urn:li:fsd_premiumSurveyQuestion:1-1" class="fb-form-element__checkbox" name="urn:li:fsd_premiumSurveyQuestion:1" type="checkbox">
  <label data-test-text-selectable-option__label="To develop my professional skills" for="urn:li:fsd_premiumSurveyQuestion:1-1" class="t-14">
    <!---->To develop my professional skills<!---->
  </label>
</div>
    <div data-test-text-selectable-option="2" class="fb-text-selectable__option display-flex">
  <input data-test-text-selectable-option__input="To grow my network or manage my reputation" id="urn:li:fsd_premiumSurveyQuestion:1-2" class="fb-form-element__checkbox" name="urn:li:fsd_premiumSurveyQuestion:1" type="checkbox">
  <label data-test-text-selectable-option__label="To grow my network or manage my reputation" for="urn:li:fsd_premiumSurveyQuestion:1-2" class="t-14">
    <!---->To grow my network or manage my reputation<!---->
  </label>
</div>
    <div data-test-text-selectable-option="3" class="fb-text-selectable__option display-flex">
  <input data-test-text-selectable-option__input="To find leads more effectively" id="urn:li:fsd_premiumSurveyQuestion:1-3" class="fb-form-element__checkbox" name="urn:li:fsd_premiumSurveyQuestion:1" type="checkbox">
  <label data-test-text-selectable-option__label="To find leads more effectively" for="urn:li:fsd_premiumSurveyQuestion:1-3" class="t-14">
    <!---->To find leads more effectively<!---->
  </label>
</div>
    <div data-test-text-selectable-option="4" class="fb-text-selectable__option display-flex">
  <input data-test-text-selectable-option__input="To find and hire talent faster" id="urn:li:fsd_premiumSurveyQuestion:1-4" class="fb-form-element__checkbox" name="urn:li:fsd_premiumSurveyQuestion:1" type="checkbox">
  <label data-test-text-selectable-option__label="To find and hire talent faster" for="urn:li:fsd_premiumSurveyQuestion:1-4" class="t-14">
    <!---->To find and hire talent faster<!---->
  </label>
</div>

<!----></fieldset>
<!---->
<!---->  </div>

      </div>
<!----><!---->  </div>

<!---->
<!---->
<!---->
<!---->  </div>

        <div class="premium-atlas-survey__footer">
          <button id="ember18" class="artdeco-button artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view" role="link" type="button"><!---->
<span class="artdeco-button__text">
    See all plans
</span></button>
          <button disabled="" id="ember19" class="mlA artdeco-button artdeco-button--2 artdeco-button--primary artdeco-button--disabled ember-view" role="link" type="button"><!---->
<span class="artdeco-button__text">
    Next
</span></button>
        </div>
      </div>

      
    <div data-test-text-selectable-option="0" class="fb-text-selectable__option display-flex">
  <input data-test-text-selectable-option__input="To job search with confidence and get hired" id="urn:li:fsd_premiumSurveyQuestion:1-0" class="fb-form-element__checkbox" name="urn:li:fsd_premiumSurveyQuestion:1" type="checkbox">
  <label data-test-text-selectable-option__label="To job search with confidence and get hired" for="urn:li:fsd_premiumSurveyQuestion:1-0" class="t-14">
    <!---->To job search with confidence and get hired<!---->