@using SiteX.Common

@{
    this.ViewData["Title"] = "Home Page";

}
<script src="~/lib/ckeditor5/ckeditor.js"></script>

<div id="editor">
    <textarea class=form-control value="<figure class="table"><table><tbody><tr><td>zxcasxsadfasddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</td><td>&nbsp;</td></tr><tr><td>zxcasxsadfasddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</td><td>&nbsp;</td></tr><tr><td>zxcasxsadfasddddddddddddddddddddddddddssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</td><td>&nbsp;</td></tr></tbody></table></figure><p>&nbsp;zxcasxsadfasddddddddddddddddddddddddddsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
        ssssssssssssssssssssssssssssssssssssssssss<strong>ssssssssssssssssssssssssssssssssssss</strong>sss</p>">

    </textarea>
</div>



<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>