@model SiteX.Web.ViewModels.ShopViewModels.LocationEditViewModel
@{

    ViewData["Title"] = "Editing Location";
}

<form method="post" class=align-content-md-center>

    <div class=form-group>
        <label asp-for="OldId"></label>
        <select class="form-control" asp-for=" OldId" asp-items="@ViewBag.Locations" required>
            <span asp-validation-for=" OldId" class="text-danger"></span>
        </select>
    </div>


    <div class="form-group">
        <label asp-for="NewName"></label>
        <input asp-for="NewName" class="form-control" />
        <span asp-validation-for="NewName" class="text-danger"></span>
    </div>

      <div class="form-group">
        <label asp-for="NewAddress"></label>
        <input asp-for="NewAddress" class="form-control" />
        <span asp-validation-for="NewAddress" class="text-danger"></span>
    </div>




    <input type="submit" class="btn btn-primary" />

</form>
